#topStories {
    background-color: lightblue;
    width: 25rem;
    border-style: ridge;
    padding-left: 3rem;
    top: 12.5rem;
    position: absolute;
    margin-left: 38rem;
}

#search {
    background-color: lightgoldenrodyellow;
    width: 20rem;
    height: 2rem;
    border-style: groove;
    font-size: large;
    margin-left: 2rem;
}

#image {
    width: 75%;
}

.navbar {
    background-color: lightsteelblue;
    width: 80rem;
    height: 3rem;
    margin-left: 2rem;
}

.cards-everything {
    margin-left: 2rem;
    width: 35rem;
    background-color: lightseagreen;
    border-style: ridge;
    padding-left: 3rem;
}

.title {
    background-color: lightcoral;
    width: 80rem;
    height: 4rem;
    text-align: center;
    font-style: oblique;
    margin-left: 2rem;
}